$colors: (
    red: #c2362e,
    green: #169c66,
    blue: #1782fa,
    cyan: #1a95a8,
    orange: #fd7931,
    white: #D1DAE6,
    text: #DCDCDC,
    background: #0d0e0e,
    // grey-lighter: #222324,
    black: #000000,
);
